@{
    ViewBag.Title = "Evaluate Sentiment";
}

<h2>Evaluate Sentiment</h2>

<form asp-action="Evaluate" method="post">
    <div class="form-group">
        <label for="userInputText">Enter Text:</label>
        <textarea class="form-control" id="userInputText" name="userInputText" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Evaluate</button>
</form>

<!-- Mostrar el resultado si existe. -->
@if (ViewBag.SentimentResult != null)
{
        <p>Texto: @ViewBag.UserInput</p>
        <p>Sentimiento: @ViewBag.SentimentResult</p>
}
